.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.grey-background {
  background-color: #d7e1eb;
}

.light-grey-background {
  background-color: #e7f1fb;
}

.red-icon {
  color: red;
}

.navbar-light .navbar-nav .nav-link{
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: #5472ff;
}

.navbar-laravel{
  background-color: rgba(2, 0, 0, 1);
  opacity: .7;
}

.navbar-light .navbar-brand{
  color: #ffffff;
}

.navbar-light .navbar-brand:hover{
  color: #5472ff;
}

.navbar-light .navbar-toggler-icon{
  background-color: #b8c2cc;
}